body {
  background-image: radial-gradient(220% 105% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%, #f7f7b6);
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
  perspective: 600px;
}
audio {
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 1;
}
img {
  width: 900px;
  height: 600px;
}
#load {
  height: 100%;
  background-color: #1b2947;
  animation: load 1s linear 1.5s 1 both;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#load #circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #999999;
}
#load #circle div {
  position: relative;
  height: 360px;
  border-radius: 50%;
  background-color: #1b2947;
  padding: 20px;
  background-clip: content-box;
}
#load #circle div span {
  position: absolute;
  height: 15px;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  background-color: #e96f92;
  animation: progress 1s linear 1s 1 both;
}
@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 250px;
  }
}
#load #circle div:after {
  content: 'Loading...';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: sandybrown;
}
spotlight {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #333333;
  font-family: "Hannotate SC";
  font-size: 100px;
}
spotlight::after {
  content: 'Chinese Zodiac';
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  animation: spotlight 3s infinite;
  background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  -webkit-background-clip: text;
  background-clip: text;
}
@keyframes spotlight {
  0% {
    clip-path: ellipse(100px 100px at 0% 50%);
  }
  50% {
    clip-path: ellipse(100px 100px at 100% 50%);
  }
  100% {
    clip-path: ellipse(100px 100px at 0% 50%);
  }
}
#i1 {
  position: absolute;
  left: 50%;
  top: 50%;
  animation: aa 4s linear 8s 1 both;
}
@keyframes aa {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0) scale(0, 0);
  }
  25% {
    transform: translate(-50%, -50%) rotate(270deg) scale(1.5, 1.5);
  }
  50% {
    transform: translate(-50%, -50%) rotate(360deg) scale(0.75, 0.75);
  }
  75% {
    transform: translate(-50%, -50%) rotate(210deg) scale(1.8, 1.8);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0) scale(1, 1);
  }
}
#i2 {
  position: absolute;
  top: 50%;
  animation: bb 2s linear 13s 1 both;
}
@keyframes bb {
  0% {
    opacity: 0;
    left: -10%;
    transform: translate(-100%, -50%);
  }
  25% {
    left: 25%;
    transform: translate(-50%, -50%);
  }
  50% {
    left: 85%;
    transform: translate(-50%, -50%) skewY(45deg);
  }
  75% {
    left: 50%;
    transform: translate(-50%, -50%) skewY(-30deg);
  }
  100% {
    left: 50%;
    transform: translate(-50%, -50%) skewY(0);
  }
}
#i3 {
  position: absolute;
  left: 50%;
  top: 50%;
  animation: cc 3s linear 16s 1 both;
}
@keyframes cc {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(360deg);
  }
}
#i4 {
  position: absolute;
  transform: translate(-50%, -50%);
  animation: dd 4s linear 20s 1 both;
}
@keyframes dd {
  0% {
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
  }
  12.5% {
    left: 42%;
    top: 42%;
    transform: translate(-50%, -50%) scale(0.125, 0.125);
  }
  25% {
    left: 50%;
    top: 34%;
    transform: translate(-50%, -50%) scale(0.25, 0.25);
  }
  37.5% {
    left: 74%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.375, 0.375);
  }
  50% {
    left: 50%;
    top: 82%;
    transform: translate(-50%, -50%) scale(0.5, 0.5);
  }
  67% {
    left: 10%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.67, 0.67);
  }
  84% {
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%) scale(0.84, 0.84);
  }
  100% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1, 1);
  }
}
#i5 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: ee 4s linear 25s 1 both;
}
@keyframes ee {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    filter: grayscale(1);
  }
  75% {
    filter: hue-rotate(300deg);
  }
  100% {
    filter: hue-rotate(0);
  }
}
#i6 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -375px;
  margin-top: -250px;
  width: 750px;
  height: 500px;
  border: 10px solid silver;
  transform-style: preserve-3d;
  opacity: 0;
  animation: ff 2s linear 33s 1 both;
}
@keyframes ff {
  0% {
    transform: rotateY(95deg);
  }
  100% {
    transform: rotateY(0);
  }
}
#i6 #i66 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -345px;
  margin-top: -230px;
  width: 690px;
  height: 460px;
  transform-origin: center center 200px;
  animation: fff 3s linear 30s 1 both;
}
@keyframes fff {
  100% {
    transform: rotateY(360deg);
  }
}
#album {
  opacity: 0;
  position: absolute;
  width: 600px;
  height: 400px;
  left: 50%;
  top: 35%;
  transform-style: preserve-3d;
  transform-origin: center center -600px;
  animation: album 4s linear 3s 1 both;
}
@keyframes album {
  0% {
    transform: translate(-50%, -50%) rotateX(-45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateX(-45deg) rotateY(360deg);
  }
}
#album img {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center center -600px;
}
#album img:nth-child(1) {
  transform: rotateY(60deg);
}
#album img:nth-child(2) {
  transform: rotateY(120deg);
}
#album img:nth-child(3) {
  transform: rotateY(180deg);
}
#album img:nth-child(4) {
  transform: rotateY(240deg);
}
#album img:nth-child(5) {
  transform: rotateY(300deg);
}
#album img:nth-child(6) {
  transform: rotateY(360deg);
}
#box {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 150px;
  animation: box 6s linear 36s 1 both;
}
@keyframes box {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate3d(1, 1, 1, 360deg);
  }
}
#box img {
  position: absolute;
  width: 300px;
  height: 300px;
}
#box img:nth-child(1) {
  background: #1abc9c;
  transform-origin: bottom;
  opacity: 1;
  animation: box1 3s linear 38s 1 both;
}
@keyframes box1 {
  0% {
    transform: translateY(-300px) rotateX(-90deg);
  }
  50% {
    transform: translateY(-400px) rotateX(-90deg);
  }
  100% {
    transform: translateY(-300px) rotateX(-90deg);
  }
}
#box img:nth-child(2) {
  background: #27ae60;
  transform-origin: top;
  transform: translateY(300px) rotateX(90deg);
  opacity: 0.8;
  animation: box2 3s linear 38s 1 both;
}
@keyframes box2 {
  0% {
    transform: translateY(300px) rotateX(90deg);
  }
  50% {
    transform: translateY(400px) rotateX(90deg);
  }
  100% {
    transform: translateY(300px) rotateX(90deg);
  }
}
#box img:nth-child(3) {
  background: #e67e22;
  transform-origin: right;
  transform: translateX(-300px) rotateY(90deg);
  opacity: 0.8;
  animation: box3 3s linear 38s 1 both;
}
@keyframes box3 {
  0% {
    transform: translateX(-300px) rotateY(90deg);
  }
  50% {
    transform: translateX(-400px) rotateY(90deg);
  }
  100% {
    transform: translateX(-300px) rotateY(90deg);
  }
}
#box img:nth-child(4) {
  background: #8e44ad;
  transform-origin: left;
  transform: translateX(300px) rotateY(-90deg);
  opacity: 0.8;
  animation: box4 3s linear 38s 1 both;
}
@keyframes box4 {
  0% {
    transform: translateX(300px) rotateY(-90deg);
  }
  50% {
    transform: translateX(400px) rotateY(-90deg);
  }
  100% {
    transform: translateX(300px) rotateY(-90deg);
  }
}
#box img:nth-child(5) {
  background: #ecf0f1;
  opacity: 0.8;
  animation: box5 3s linear 38s 1 both;
}
@keyframes box5 {
  50% {
    transform: translateZ(-100px);
  }
}
#box img:nth-child(6) {
  transform-origin: left bottom;
  background: #ecf0f1;
  opacity: 0.5;
  animation: box6 3s linear 38s 1 both;
}
@keyframes box6 {
  0% {
    transform: translateZ(300px);
  }
  50% {
    transform: translateZ(400px);
  }
  100% {
    transform: translateZ(300px);
  }
}
